
<ons-navigator title="Categoria Producots" var="cp" ng-controller="CP">
    <ons-page   >
      <ons-toolbar>
      
      <div class="center">Categoria Productos</div>

      <div class='right'>
          <ons-toolbar-button ng-click="newCP()">
            <ons-icon icon="ion-compose" onclick="cp.pushPage('crear.html', { animation : 'lift' } )"  fixed-width="false" style="font-size: 32px; width: 1em;"></ons-icon>
          </ons-toolbar-button>
      </div>
    </ons-toolbar>

      <div class="navigation-bar">

          <div class="navigation-bar__center">

            <input ng-keyup="findLike()"  ng-model="cp.busqueda"  type="search" class="search-input" style="width: 96%; margin: 6px auto 6px auto;" placeholder="Search">

          </div>
        </div>

      <!-- <ons-list-item>

          
          <input ng-keyup="findLike()"  ng-model="categoria.busqueda" type="search" class="text-input text-input--transparent" style='margin-top:8px; width: 100%'; placeholder="Search"></input>

      </ons-list-item> -->

      <ons-list ng-repeat="c in cps">
        <ons-list-item ng-click="loadId(c.cp_id)" class="list__item--tappable list__item__line-height" modifier="chevron">
        {{c.cp_nombre}}
            <div >
            
            </div>
        </ons-list-item>
        
      </ons-list>

      

    </ons-page>
  </ons-navigator>



<ons-template id="crear.html">
  <ons-page >
    <ons-toolbar>
      <div class="left"><ons-back-button ng-click="">Back</ons-back-button></div>
      <div class="center">Crear</div>
    </ons-toolbar>

    
    <ons-list>
        
          <input type="hidden" ng-model="cp.cp_id"  placeholder="ID" class="text-input text-input--transparent" style="margin-top:8px; width: 100%;">
        

        <ons-list-item>
          <input type="text" ng-model="cp.cp_nombre" placeholder="Nombre" class="text-input text-input--transparent" style="margin-top:8px; width: 100%;font-size:1em">
        </ons-list-item>

        <ons-list-item>
        <textarea class="textarea textarea--transparent" ng-model="cp.cp_descripcion"  placeholder="Descripcion" id="my-textarea" style="margin-top:8px; width: 100%;font-size:1em"></textarea>
         
        </ons-list-item>

       
       
      <ons-list-item>
          <ons-button ng-click="add()" modifier="large">Guardar</ons-button>
        </ons-list-item>
        
        <ons-list-item>
          <ons-button style="display:{{btn_visible}}" ng-click="delete()" modifier="large--cta">Eliminar</ons-button>
        </ons-list-item>

        
  </ons-page>
</ons-template>