
<ons-navigator title="Producto" var="var_producto" ng-controller="Producto">
    <ons-page   >
      <ons-toolbar>
      
      <div class="center">Producto</div>

      <div class='right'>
          <ons-toolbar-button ng-click="newProducto()">
            <ons-icon icon="ion-compose" onclick="var_producto.pushPage('crear.html', { animation : 'lift' } )"  fixed-width="false" style="font-size: 32px; width: 1em;"></ons-icon>
          </ons-toolbar-button>
      </div>
    </ons-toolbar>

      <div class="navigation-bar">

          <div class="navigation-bar__center">

            <input ng-keyup="findLike()"  ng-model="producto.busqueda"  type="search" class="search-input" style="width: 96%; margin: 6px auto 6px auto;" placeholder="Search">

          </div>
        </div>

      <!-- <ons-list-item>

          
          <input ng-keyup="findLike()"  ng-model="categoria.busqueda" type="search" class="text-input text-input--transparent" style='margin-top:8px; width: 100%'; placeholder="Search"></input>

      </ons-list-item> -->

      <ons-list ng-repeat="c in productos">
        <ons-list-item ng-click="loadId(c.pro_id)" class="list__item--tappable list__item__line-height" modifier="chevron">
        {{c.pro_nombre}}
            <div >
            
            </div>
        </ons-list-item>
        
      </ons-list>

      

    </ons-page>
  </ons-navigator>



<ons-template id="crear.html">
  <ons-page >
    <ons-toolbar>
      <div class="left"><ons-back-button ng-click="">Back</ons-back-button></div>
      <div class="center">Crear</div>
    </ons-toolbar>

    
    <ons-list>
        
          <input type="hidden" ng-model="producto.pro_id"  placeholder="ID" class="text-input text-input--transparent" style="margin-top:8px; width: 100%;">
        

        <ons-list-item>
          <input type="text" ng-model="producto.pro_nombre" placeholder="Nombre" class="text-input text-input--transparent" style="margin-top:8px; width: 100%;font-size:1em">
        </ons-list-item>

        <ons-list-item>
          <textarea class="textarea textarea--transparent" ng-model="producto.pro_descripcion"  placeholder="Descripcion" id="my-textarea" style="margin-top:8px; width: 100%;font-size:1em">
            
          </textarea>
         
        </ons-list-item>

        <ons-list-item>
          <input type="text" ng-model="producto.pro_img" placeholder="Imagen" class="text-input text-input--transparent" style="margin-top:8px; width: 100%;font-size:1em">
         
        </ons-list-item>

        <ons-list-item>
          <input type="number" ng-model="producto.pro_precio"  placeholder="Precio" class="number-input number-input--transparent" style="border:none; margin-top:8px; width: 100%;font-size:1em" min="0" max="100" step=".5">
        </ons-list-item>


        <ons-list-item>
          <ons-row>
            <ons-col width="90px">
          <span style="color: #666">Existencia</span></ons-col>
            <ons-col>

              <div style="float: right; padding-right: 16px;">
                <label class="radio-button">
                  <input checked type="radio" value="1" name="existe" ng-model="producto.pro_existe">
                  <div class="radio-button__checkmark"></div>
                  Existe
                </label>                                           

                <label class="radio-button">
                  <input type="radio" name="existe" value="0" ng-model="producto.pro_existe">
                  <div class="radio-button__checkmark"></div>
                  No existe
                </label>
              </div>

            </ons-col>
          </ons-row>
        </ons-list-item>

        <ons-list-item>
          <ons-row>
            <ons-col width="90px">
          <span style="color: #666">IVA</span></ons-col>
            <ons-col>

              <div style="float: right; padding-right: 16px;">
                <label class="radio-button">
                  <input checked type="radio" value="1" name="iva" ng-model="producto.pro_genera_iva">
                  <div class="radio-button__checkmark"></div>
                  Genera I.V.A.
                </label>                                           

                <label class="radio-button">
                  <input type="radio" name="iva" value="0" ng-model="producto.pro_genera_iva">
                  <div class="radio-button__checkmark"></div>
                  No genera I.V.A.
                </label>
              </div>

            </ons-col>
          </ons-row>
        </ons-list-item>

        <ons-list-item>

          <select ng-init="foo = foo || model[0]" style="margin-top:8px;width:100%;font-size:1em" ng-model="producto.categoria_producto_cp_id" ng-options="model.cp_id as model.cp_nombre for model in categorias">
            <option value="" ng-if="foo">Selecciona uno.</option>
          </select>
        </ons-list-item>

       
       
      <ons-list-item>
          <ons-button ng-click="add()" modifier="large">Guardar</ons-button>
        </ons-list-item>
        
        <ons-list-item>
          <ons-button style="display:{{btn_visible}}" ng-click="delete()" modifier="large--cta">Eliminar</ons-button>
        </ons-list-item>

        
  </ons-page>
</ons-template>