<ons-navigator title="Pedido" var="var_pedido" ng-controller="Admin">
  <ons-page>
        <ons-toolbar>
        	<div class="left">
            <ons-toolbar-button><ons-icon icon="ion-log-out" ng-click="logout()" style="vertical-align: -4px; font-size: 28px;"></ons-icon></ons-toolbar-button>
          </div>

          <div class="center">Pedido</div>
          <div class="right">
  	        <ons-toolbar-button>
  	        	<ons-icon icon="ion-compose" ng-click="var_pedido.pushPage('crear.html',{animation:'lift'})"  fixed-width="false" style="font-size: 32px; width: 1em;"></ons-icon>
  	        </ons-toolbar-button>
  	    </div>
        </ons-toolbar>

      <div class="navigation-bar">
    		<div class="navigation-bar__center">
    				<input ng-keyup="pedido_findLike()" type="search" class="search-input" style="width: 96%; margin: 6px auto 6px auto;" ng-model="pedido.busqueda" placeholder="Search">
    		</div>
  	   </div>

       <ons-list class="plan-list" id="lista" ng-repeat="p in pedidos">
        
            <ons-list-item modifier="chevron" class="plan" >
            <ons-gesture-detector ng-hold="pedido_delete(p.ped_id)">
              <ons-row>
                <ons-col width="80px" class="plan-left" ng-click="pedido_pagar(p)">
                  <div class="plan-date">{{p.ped_pagado == 0 ? "No pagado":"Pagado"}}</div>
                  <div class="plan-duration"></div>
                </ons-col>

                <ons-col width="6px" class="plan-center" ng-style="{backgroundColor:p.ped_pagado == 1 ? '#3399ff' : '#ccc'}">
                </ons-col>
                
                

                <ons-col class="plan-right" ng-click="pedido_productos(p.ped_id)">
                  <div class="plan-name">Código: {{p.ped_codigo}}</div>

                  <div class="plan-info">
                    <div ng-hide="a % 4 == 0">
                      <ons-icon icon="ion-calendar"></ons-icon> {{p.ped_fecha_creacion}}
                    </div>

                    <div ng-hide="a % 3 == 0">
                      <ons-icon icon="ion-person"></ons-icon>
                       {{p.usuario_usu_id}}
                    </div>
                  </div>
                </ons-col>

               


              </ons-row> </ons-gesture-detector>
            </ons-list-item>
            

          </ons-list>
  </ons-page>
</ons-navigator>




<ons-template id="crear.html" ng-controller="Admin">
  <ons-page >
    <ons-toolbar>
      <div class="left"><ons-back-button ng-click="">Back</ons-back-button></div>
      <div class="center">Código</div>
    </ons-toolbar>

      <p style="margin-left:10px;margin-right:10px;">
        <input placeholder="Código" id="codigo" ng-model="pedido.ped_codigo" class="text-input" style="width:100%">
      </p>
    
     
      <p style="margin-left:10px;margin-right:10px;">
        <ons-button modifier="large" ng-click="pedido_add(pedido)">Crear</ons-button>
      </p>
        
  </ons-page>
</ons-template>



<ons-template ng-controller="Admin" id="pedido_productos.html">
      <ons-page>
        <ons-toolbar>
         <div class="left"><ons-back-button ng-click="pedido_deletePedidoStorage()">Back</ons-back-button></div>

          <div class="center">
            Cuenta
          </div>
          <div class="right">
            <ons-toolbar-button>
              <ons-icon icon="ion-plus" ng-click="getAllProductos()" fixed-width="false" style="vertical-align: -4px;"></ons-icon>
            </ons-toolbar-button>
          </div>
        </ons-toolbar>

        <div class="navigation-bar">
          <div class="navigation-bar__center">
            <input type="hidden"  ng-model="pedido.ped_id">
            <!-- segment control -->
            <div class="button-bar" style="width:200px; margin:8px auto 0;font-size:1.5em;margin-bottom:5px;">

              Total: $ {{total.total != null ? total.total : 0}}
            </div>

          </div>
        </div>

        <ons-list class="plan-list">
          <ons-list-item modifier="chevron" class="plan" ng-repeat="p in productos">

          <ons-gesture-detector ng-doubletap="delete(p.pp_id)">
            <ons-row id="detect-area">

              <ons-col width="80px" ng-click="entregar(p.pp_id)" class="plan-left">
                <div class="plan-date">$ {{p.pro_precio}}</div>
                <div class="plan-duration">{{p.pp_estado == 0 ? "No entregado" : "Entregado"}}</div>
              </ons-col>

              <ons-col width="6px" class="plan-center" ng-style="{backgroundColor:p.pp_estado == 1 ? '#3399ff' : '#ccc'}">
              </ons-col>

              <ons-col class="plan-right">
                <div class="plan-name">{{p.pro_nombre}}</div>

                <div class="plan-info">
                  <div ng-hide="a % 4 == 0">
                    <ons-icon icon="ion-chatbox"></ons-icon> {{p.pro_descripcion}}
                  </div>

                  <div ng-hide="a % 3 == 0">
                   
                  </div>
                </div>
              </ons-col>
            </ons-row>

            </ons-gesture-detector>

          </ons-list-item>

        </ons-list>



      </ons-page>
    </ons-template>

<ons-template ng-controller="Admin" id="addProducto.html">
  <ons-page >
      <ons-toolbar>
        <div class="left"><ons-back-button ng-click="">Back</ons-back-button></div>
        <div class="center">Productos</div>
      </ons-toolbar>

      <div class="navigation-bar">

          <div class="navigation-bar__center">

            <input ng-keyup="findLike()"  ng-model="producto.busqueda"  type="search" class="search-input" style="width: 96%; margin: 6px auto 6px auto;" placeholder="Search">

          </div>
        </div>

      <ons-list ng-repeat="c in todos_productos">

        <ons-list-item ng-click="add(c.pro_id)" class="list__item--tappable list__item__line-height" modifier="chevron">
        {{c.pro_nombre}}
            <div >
            
            </div>
        </ons-list-item>
        
      </ons-list>

      

    </ons-page>
</ons-template>